# secret files
*.secret.*

# build output
/_build

# elixir dependencies
/deps

# crash dumps
erl_crash.dump

# sqlite databases
*.db
*.db-shm
*.db-wal

# nix build output
/result

# direnv cache
/.direnv

# nix-generated pre commit hooks
.pre-commit-config.yaml
