layout {

    focus-ring {
        active-color   "#8ed6a3"
        inactive-color "#14121a"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#8ed6a3"
        inactive-color "#14121a"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#8ed6a3"
        inactive-color "#00522c"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#8ed6a380"
    }
}
